<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="css/style_homepage.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    {{! <link type="text/css" rel="stylesheet" href="css/style.css" /> }}
    {{! <style>
      .h1 { color: red; }
    </style> }}
    <title>Document</title>
  </head>

  <body>

    <div>
        <a href="/admin_login">admin login</a>
        <a href="/admin_register">admin register</a>
    </div>

  </body>
  <script type="text/javascript" src="/script/script.js"></script>
</html>