<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COLLEGE ZONE</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css1/bootstrap.min.css">
    <link rel="stylesheet" href="css1/owl.carousel.min.css">
    <link rel="stylesheet" href="css1/font-awesome.min.css">
    <link rel="stylesheet" href="css1/aos.css">
    <link rel="stylesheet" href="css1/swiper.min.css">
    <link rel="stylesheet" href="css1/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css1/style.css">
</head>

<body>
    <!-- Start Header -->
    {{> navbar_user}}
    <!-- End Header -->
    <!-- Start Hero Area -->
    <section class="hero-section height-470" style="background-image:url(images/about_us.png)" data-aos="fade-up">
        <div class="hero-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-hrader text-white text-center">
                            <h1 class="display-3">Admission Form</h1>
                            <div class="page-breadcrumb">
                                <p><a class="text-white" href="index.html">Home</a> - Apply</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
    <!--Start Page -->
    <div class="page-wrapper section-ptb-3" data-aos="fade-up">
        <div class="container mx-auto text-center">
            <div class="row mx-auto text-center" >
                <div class="col-md-10 mx-auto">
                    <div class="apply-wrapper">
                        <h2>Confess here</h2>

                        <form action="/confess" method="post" class="apply_form bg_dark_9 p-5">
                            <div class="row mx-auto text-center">
                                <div class="col-md-6 mx-auto text-center">
                                    <div class="form-group mx-auto text-center">
                                        <label for="user_first_name">Title</label>
                                        <input type="text" name="firstname" id="firstname" required class="form-control"
                                            placeholder="Title" />

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 mx-auto text-center">
                                    <div class="form-group mx-auto text-center">
                                        <label for="user_last_name"> Description</label>
                                        <input class="form-control" type="text" name="lastname" id="lastname"
                                            required placeholder="Description" required>
                                    </div>
                                </div>
                                {{!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="user_class">Class you want to apply for*</label>
                                        <select name="user_class" id="user_class" class="form-control">
                                            <option value="1">Class One</option>
                                            <option value="2">Class Two</option>
                                            <option value="3">Class Three</option>
                                            <option value="4">Class Four</option>
                                            <option value="5">Class Five</option>
                                        </select>
                                    </div>
                                </div> --}}

                            </div>
                            {{!--
                    </div> --}}
                    {{!-- <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="guardian_first_name">Parents/ Guardian First Name</label>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="guardian_last_name">Parents/ Guardian Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="std_address">Student's Address</label>
                                <input type="text" class="form-control" placeholder="State Address">
                            </div>
                        </div>
                    </div> --}}

                    {{!-- <div class="row">
                        <div class="col-md-6 mx-auto text-center">
                            <div class="form-group">
                                <label for="user_phone_number">Phone Number</label>
                                <input type="text" name="phone" id="phone" required class="form-control"
                                    placeholder="Phone Number">
                            </div>
                        </div> --}}

                        {{!-- <div class="col-md-6">
                            <div class="form-group">
                                <label for="user_email">Email Address</label>
                                <input type="text" class="form-control" name="email" id="email" required
                                    placeholder="Email Address">
                            </div>
                        </div> --}}
                    </div>
                    {{!-- <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">Gender:</label>
                                <input class="form-control" type="radio" name="gender" value="male" />
                                <label>Male</label>
                                <input class="form-control" type="radio" name="gender" value="female" />
                                <label>Female</label>
                                <input class="form-control" type="radio" name="gender" value="other" />
                                <label>Other</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Age:</label>
                                <input class="form-control" type="number" name="age" id="age" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="user_city">Password</label>
                                <input type="password" name="password" id="password" required class="form-control"
                                    placeholder="Password">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="user_last_name">Confirm Password</label>
                                <input type="password" name="confirmpassword" id="confirmpassword" required
                                    class="form-control" placeholder="Confirm Password">
                            </div>
                        </div>
                    </div> --}}
                    {{!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="user_comment">Write Your Comment</label>
                                <textarea name="user_comment" class="form-control" id="user_comment" cols="30" rows="5"
                                    placeholder="Your Comment"></textarea>
                            </div>
                        </div>
                    </div> --}}
                    {{!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="user_signature">Digital Signature</label>
                                <textarea name="user_signature" class="form-control" id="user_signature" cols="30"
                                    rows="5" placeholder="Your Signature"></textarea>
                            </div>
                        </div>
                    </div> --}}
                    {{!-- <div class="row">
                        <div class="col-md-6 mx-auto text-center">
                            <div class="form-group">
                                <button id="login">
                                    Upload images to Drive
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mx-auto text-center">
                            <div class="form-group">
                                
                                    OR
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mx-auto text-center">
                            <div class="form-group">
                                <label for="user_last_name">Drive Link</label>
                                <input class="form-control" type="text" name="link" id="link" required
                                    placeholder="Drive Link" required>
                            </div>
                        </div>
                    </div> --}}
                    {{!-- <input type="file" name="image" id="image"> --}}
                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <button type="submit" class="button_one mt-3">Submit Form</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End Page -->
    <!-- Start Footer -->
{{> indexFooter}}
    <!-- End Footer -->
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/bootnavbar.js"></script>
    <script src="js/main.js"></script>
</body>

</html>