    <header>
        <div class="header_top_area my-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header_top d-flex justify-content-between">
                            <div class="site_logo">
                            <a href=""><img src="images/collegeZoneLogo.png" alt="logo" class="img-fluid"
                                    style="height: 56px;"></a>
                        </div>
                            <div class="site_info d-flex justify-content-between">
                                <div class="single_info">
                                    <img src="images/location.png" alt="Location" class="img-fluid">
                                    <div class="info_data">
                                        <h6>Location</h6>
                                        <p>Thadomal Shahani, Bandra 400-050</p>
                                    </div>
                                </div>
                                <div class="single_info">
                                    <img src="images/phone.png" alt="Location" class="img-fluid">
                                    <div class="info_data">
                                        <h6>Phone</h6>
                                        <p>+880 2456 547</p>
                                    </div>
                                </div>
                                <div class="single_info">
                                    <button class="special-button" onclick="window.location.href = 'admin_register';">Committee Head<span class="button_icon"><i class="far fa-circle-question"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu-area bg_dark_mobile">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-menu default_bg">
                            <nav class="navbar navbar-expand-lg">
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link " href="index" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Home
                                        </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about.html">About</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="see_post" class="nav-link" id="blod_pages">
                                                Posts
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/userLoggedIn" class="nav-link">Contact</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="see_confession" class="nav-link">Log out</a>
                                        </li>
                                    </ul>
                                    <div class="collapse-bar">
                                        <a class="navbar-brand" data-toggle="collapse" href="#languages_options"><i class="fa fa-bars"></i></a>
                                        <div class="option-menu collapse" id="languages_options">
                                            <nav>
                                                <ul>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">English</a>
                                                        <a class="nav-link" href="#">Bangla</a>
                                                        <a class="nav-link" href="#">Hindi</a>
                                                        <a class="nav-link" href="#">Spanish</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button trigger modal -->
            <!-- Start Search Modal -->
            
            </div>
             <!-- End Search Modal -->
        </div>
    </header>